.project-section {
    padding: 0;
    background-color: #f1f1f4;
    color: rgb(5, 5, 5);
  }
  
  .section-title {
    font-size: 2.5rem;
    color: #fcfcfc;
    margin-bottom: 5px;
  }
  
  .section-line {
    width: 60px;
    height: 4px;
    background-color: #d2d2e0;
    margin: 0 auto 20px;
  }
  