.singleProject {
  box-shadow: 4px 4px 8px rgba(209, 194, 194, 0.897);
  width: 304px;
  height: 360px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.4rem 2rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.projectContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  position: relative;
}

.projectContent > h2 {
  font-family: var(--primaryFont);
  font-style: normal;
  font-weight: 600;
  font-size: 1.525rem;
  line-height: 110%;
  text-align: center;
  z-index: 1;
}

.projectContent > img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  transition: opacity 0.5s 0.3s;
  z-index: 1;
}

.project--showcaseBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 1;
}

.project--showcaseBtn > a {
  cursor: pointer;
  text-decoration: none;
  transition: transform 0.5s 0.3s;
}

.singleProject:hover img {
  opacity: 0;
}

.singleProject:hover .project--desc {
  transform: translateX(0);
  opacity: 1;
}

.singleProject .project--desc {
  position: absolute;
  width: 100%;
  height: 60%;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  padding: 15px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: rgb(150, 20, 20);
  transition: transform 0.5s, opacity 0.5s;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--primaryFont);
  opacity: 0;
  z-index: 2;
}

.singleProject .project--lang {
  position: absolute;
  bottom: 20px;
  right: 0;
  width: 140px;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  flex-direction: column;
  border-radius: 10px 0 0 10px;
  transform: translateX(100%);
  transition: transform 0.5s 0.3s;
  padding: 0.825rem;
}

.singleProject:hover .project--lang {
  transform: translateX(0);
}

.project--lang > span {
  font-family: var(--primaryFont);
  font-weight: 500;
  word-break: break-word;
  line-height: 100%;
}
