.glow-card {
    background: #50a9ed73;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(9, 8, 9, 0.1);
    transition: all 0.3s ease-in-out;
    padding: 20px;
    position: relative;
  }
  
  .glow-card:hover {
    box-shadow: 0 0 20px rgb(154, 47, 2);
    transform: translateY(-10px);
  }
  